# Operators
In Python, operators are used on variables and values to perform operations. These operators are the foundations of your Python code and will be used to create the logic that the code will follow.

The three most common types of operators are:

 1. Mathematical 
 2. Logical 
 3. Comparison

## Mathematical Operators
Mathematical operators are used to perform common mathematical operations. Python automatically populates the result from the expression that uses these operators.

 `+` Adds the expression on either side

`-` Subtracts the expression from left side from the other side

`*` Multiples the expression on either side

`/` Divides the numerator (expression on the left) by the denominator (expression on the right)

`%` Divides two expressions and returns the number that is remaining when the remaining number is less than the denominator

`**` Raises the left expression to the power of the right expression

Multiple operators can be combined into a single expression. Python evaluates each mathematical expression by following the order of BEDMAS (Brackets, Exponents, Division, Multiplication, Addition, Subtraction).

## Comparison Operators
Comparison operators are used when there is a need to compare two values. The results are a `boolean` value which is either `True` or `False`.

`>` is used to see if the left value is greater than the right.

`<` is used to see if the left value is greater than the left.

`>=` is used to see if the left value is greater than or equal to the right.

`<=` is used to see if the left value is greater than or equal to the right.

 `==` is used to see if the two values are equal or equivalent. This can both be used for numeric and string values.

`!=` is used to see if the two values are not equal.

## Logical Operators
Logical operators allow the capability to combine different comparison operators for a more complex result.

When using the `and` operator, both conditions need to be satisfied in order to be `True`. 
For example, a customer may be qualified only if they meet both the revenue requirement AND the order volume requirement.

In [ ]:
x = 0

If not all of the conditions are satisfied, it will return `False`.

In [ ]:
x = 2

When using the `or` operator, at least one condition needs to be satisfied in order to be `True`. 

An example of this can be when someone is approved for a credit card if they have an individual income of 60,000 OR a household income of 100,000.

In [ ]:
x = 0

In [ ]:
x = 2

In [ ]:
x = 4

We can also combine the different types of operators to create more complex conditions.

In [ ]:
a = 10
b = 5
c = 20

## Functions
A function is a block of reusable code that performs a specific task. Now let's explore a few commonly used built-in Python fuctions. These built-in functions provides a wide range of tasks that we can use in our code.

In [ ]:
# Returns the maximum value from a group of values
(4, 7, 23, 11)

In [ ]:
# Returns the minimum value from a group of values
(4, 7, 23, 11)

In [ ]:
# Returns the absolute value from a number
(-9.4)

In [ ]:
# Adds all the numbers in a collection data together
([1, 2, 3])

In [ ]:
# Rounds a number to a specific decimal. 2nd input for number of decimal places 
(4.91278, 2)

In [ ]:
# Returns the first value to the power of the second value. This the equivalent of using **
(2 , 3)

In [ ]:
# Returns the number of values within the list
([1, 3, 5, 7, 9])

## Packages
A package (aka library) is a collection of functions. Using external packages allow us to utilize open source code that other people have created so we don't need to write all the code from scratch ourselves.

There are various different packages in Python. When we installed Anaconda at the beginning of the course, we've already automatically installed most of the common Python packages so now we can import them directly. There are also some packages that do not come with Anaconda and we need to install them separately. We'll talk about that later.

Let's use the math module as an example. To import this package, we use the import function followed by the package name math. Now we can use functions included in this package. For example, `math.sqrt` is a function that calculates the square root of the number in the parentheses.

When importing packages, they can be called with an alias. For example, let's import `math` as `mth`. When we want to use a function in the package, we can call `mth` instead of the full package name.

We can also directly import a function in a package. We use the key word from followed by the package name `math`, and import followed by the function name `sqrt`. This way, there is no need to call math in a separate line. After importing the sqrt function, we can use it to calculate the square root.

If you just wanted to import all the functions within the package without calling the package every time, you can consider using `*` to import all functions. This enables us to not have to write out the alias for the math package when using its functions.

If you wanted to get help in what a function does, the `help` function pulls up some of the documentation without having to visit the site. You can look up a specific function or the entire package with the full list of functions.

`Math` is just one example of packages that we can import in Python. Different packages serve different purposes. In this course we will introduce 4 commonly used packages: `Numpy`, `Pandas`, and `Matplotlib`, `Seaborn`.